[submodule "games/breakout"]
	path = games/breakout
	url = git@github.com:Sun0fABeach/breakout.git
	branch = on-homepage
[submodule "games/EvolutronicLife"]
	path = games/EvolutronicLife
	url = git@github.com:Sun0fABeach/EvolutronicLife.git
	branch = on-homepage
