/* NAME */
@font-face {
  font-family: 'robotothin';
  src: url('~@/assets/fonts/Roboto-Thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* DRUMS */
@font-face {
  font-family: 'boumboum_free_versionregular';
  src: url('~@/assets/fonts/boumboumfreeversion-dmvr-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/boumboumfreeversion-dmvr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* GAMES */
@font-face {
  font-family: 'manaspaceregular';
  src: url('~@/assets/fonts/manaspc-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/manaspc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CODE */
@font-face {
  font-family: 'taurus_mono_outlineregular';
  src: url('~@/assets/fonts/taurusmonooutline-p7gjz-webfont.woff2') format('woff2'),
       url('~@/assets/fonts/taurusmonooutline-p7gjz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ICONS */
@font-face {
  font-family: 'icomoon';
  src:
    url('~@/assets/fonts/icomoon.woff?pe6e5d') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
