$min-phone: 0px;
$min-tablet: 700px;
$min-desktop: 1400px;

$color-background: #fff;
$color-primary: rgba(0,0,0,0.8);
$color-secondary: rgba(0,0,0,0.54);
$color-highlight: rgb(255, 82, 82);

$font-default: Arial, Helvetica, sans-serif;
$font-name: 'robotothin', Arial, sans-serif;
$font-drums: 'boumboum_free_versionregular', Times, serif;
$font-games: 'manaspaceregular', Arial, sans-serif;
$font-code: 'taurus_mono_outlineregular', Courier, monospace;
