@mixin flex-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin font-default {
  font-family: $font-family-default;
}
@mixin font-name {
  font-family: $font-family-name;
}
@mixin font-drums {
  font-family: $font-family-drums;
  font-weight: bold;
  letter-spacing: 0.125rem;
}
@mixin font-games {
  font-family: $font-family-games;
}
@mixin font-code {
  font-family: $font-family-code;
}

@mixin shadow($elevation) {
  @if $elevation == 1 {
    box-shadow: 0 1px 3px hsla(0, 0, 0, .12),
                0 1px 2px hsla(0, 0, 0, .24);
  } @else if $elevation == 2 {
    box-shadow: 0 3px 6px hsla(0, 0, 0, .15),
                0 2px 4px hsla(0, 0, 0, .12);
  } @else if $elevation == 3 {
    box-shadow: 0 10px 20px hsla(0, 0, 0, .15),
                0 3px 6px hsla(0, 0, 0, .10);
  } @else if $elevation == 4 {
    box-shadow: 0 15px 25px hsla(0, 0, 0, .15),
                0 5px 10px hsla(0, 0, 0, .5);
  } @else if $elevation == 5 {
    box-shadow: 0 20px 40px hsla(0, 0, 0, .2);
  }
}
