@mixin flex-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin layout {
  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    &.site {
      overflow-y: scroll;
    }
  }
  main {
    flex-grow: 1;
  }
}

@mixin font-default {
  font-family: $font-family-default;
}
@mixin font-name {
  font-family: $font-family-name;
}
@mixin font-drums {
  font-family: $font-family-drums;
  font-weight: bold;
  letter-spacing: 0.125rem;
}
@mixin font-games {
  font-family: $font-family-games;
}
@mixin font-code {
  font-family: $font-family-code;
}
