$layout-transition-length: .5s;
$page-transition-length: .5s;

.layout-enter-active, .layout-leave-active {
  transition: opacity $layout-transition-length;
}
.layout-enter, .layout-leave-to {
  opacity: 0;
}

@media (min-width: $min-tablet) {
  .page-enter-active, .page-leave-active {
    transition: transform $page-transition-length ease-out;
  }
  .page-enter, .page-leave-to {
    transform: scaleX(0);
  }
}

/*  when the layout transition is started, the page component changes
 ** immediately due to the route change. we need to force the page to play its
 ** own (pseudo-)transition during the time of the layout change to prevent this
 ** effect.
 */
.layout-leave-active {
  .page-leave-active {
    transition: transform $layout-transition-length;
  }
  .page-leave-to {
    transform: scale(1);
  }
}
